#pragma once

#define NAME "httping"

#define FFTW3_FOUND 0
#define HAVE_FFTW3 FFTW3_FOUND

#define NCURSES_FOUND 0
#define HAVE_NCURSES NCURSES_FOUND

#define SSL_FOUND 0
#define HAVE_SSL SSL_FOUND

#define OPENSSL_FOUND 0
#define HAVE_OPENSSL OPENSSL_FOUND

#if !(HAVE_SSL && HAVE_OPENSSL)
#define NO_SSL
#endif
